[Unit]
Description= DHCP Client
Before=network.target
After=wpa_supplicant.service

[Service]
Type=forking
ExecStart=/sbin/dhclient wlx4401bba0b98f -v
ExecStop=/sbin/dhclient wlx4401bba0b98f -r
Restart=always
 
[Install]
WantedBy=multi-user.target
