.bash_*
.cache
.cargo
.gitconfig
Documents
Downloads
.gtk*
.icons
Media
.mozilla
Pendrive
.lyxauth
.profile
rtl*
.rustup
.vim
.viminfo
.Xauthority
.xsession-errors
.local/share
.config/Mousepad
.config/neofetch
.config/pcmanfm
.config/htop
.config/nitrogen
.config/xfce4
.config/mimeapps.list
.config/dconf
.config/gtk*
.config/libfm


